// ======================================
//  Base
// ======================================

* {
  font-family: $font-primary;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: color(secondary);
}

.App {
  background-color: color(bg);
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

p {
  font-size: 1.4rem;
}

header {
  height: 10vh;
}

.appBody {
  height: 90vh;
}

main {
  height: 80vh;
  overflow-y: scroll;
}

form {
  height: 10vh;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  text-decoration: none;
  // font-size: 1.2em;
  color: color(primary);
  transition: color 200ms ease-in-out;
  &:hover,
  &:focus {
    color: #fff;
  }
}
